module: processor

geohashLength: 5

kafka {
  applicationId: ${environment}"-geosearch"
  bootstrapServers: null
  securityProtocol: null
  schemaRegistryUrl: null
  replicationFactor: 3
  dynamicConf {
  }

  schemaRegistryDynamicConf {
    "auto.register.schemas": false
  }

  topicGeoEvent: "geo-event"
  topicGeoSearchCommand: "geo-search-command"
  topicGeoSearchResult: "geo-search-result"
}
